.width-height-1 {
    width: 200px;
    height: 200px;
    background-color: pink;
}

.padding-1{
   padding: 20px;
   margin: 0; 
}

.padding-2{
    padding-top: 20px;
    padding-left: 10px;
    margin: 0; 
 }
 
 .padding-3{
    padding: 20px 10px 0px 5px;
    margin: 0; 
 }

 .padding-antes{
    padding: 20px;
    width: 140px;
    margin: 0; 
    border: 1px solid black;
 }

 .padding-depois{
    padding: 20px;
    width: 140px;
    margin: 0; 
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 20px 10px;
 }

 .margin1{
    padding: 20px;
    width: 120px;
    margin: 5; 
    border: 2px solid palevioletred;
 }

 .text-align-1{
   text-align: left;
 }

 .text-align-3{
    text-align: right;
  }

 .text-align-2{
    text-align: center;
  }

  .text-align-4{
    text-align: justify;
  }
 
  .text-decoration-1{
    text-decoration: underline;
  }

  .text-decoration-2{
    text-decoration: line-through;
  }
 